# Chapter 4: Functional Programming: Rudimentary Statistics and Analytics

| New Concepts | Description |
| --- | --- |
| _return obj_ (from function) | Functions may return an object to be saved if a variable is defined by the function i.e., var1 = function(obj1, obj2, . . .)|

In [6]:
def function_name(object1, object2, . . ., objectn):
    <operations>

SyntaxError: invalid syntax (832649975.py, line 1)

### Total 

$\sum_{i=0}^{n-1} x_{i}$

In [7]:
n = 0
total = 0
values = [i for i in range(10)]

print("total\t","value")
for value in values:
    total += value
    print(total,"\t", value)

total	 value
0 	 0
1 	 1
3 	 2
6 	 3
10 	 4
15 	 5
21 	 6
28 	 7
36 	 8
45 	 9

In [8]:
# Don't keep copying and pasting old code...

In [9]:
def total(lst):
    total_ = 0
    # in original I used the index of the list
    # . . . 
    # n = len(lst)
    # for i in range(n)
    for val in lst:
        total_ += val
    return total_
total(values)

45

In [10]:
total([i for i in range(-1000,100000,53)])

94313645

In [11]:
import random
X1 = [3, 6, 9, 12, 15,18,21,24,27,30]
X2 = [random.randint(0,100) for i in range(10)]
total(X1), total(X2)

(165, 572)

### Mean

Let $X_1, X_2,...,X_n$ represent $n$ values from a random variables. For a given dataset, useful descriptive statistics of central tendency include mean, median, and mode, which we built as functions in a previous chapter. 

We define the mean of a set of numbers:
$\bar{X} = \frac{\sum_{i=0}^{n-1} x_{i}} {n}$

In [12]:
def mean(lst):
    n = len(lst)
    mean_ = total(lst) / n
    return mean_
mean(X1), mean(X2)

(16.5, 57.2)

Now let's build the rest of the summary statistical functions
1. median
2. mode
3. variance
4. standard deviation
5. standard error
6. covariance
7. correlation

### Median

In [13]:
def median(lst):
    n = len(lst)
    lst = sorted(lst)
    
    # two cases: 
    # 1. list of odd length
    # i % j checks for remainder upon dividing i by j
    if n % 2 != 0:
        middle_index = int((n - 1) / 2)
        median_ = lst[middle_index]
     # 2. list of even length  
    else:
        upper_middle_index = int(n / 2)
        lower_middle_index = upper_middle_index - 1
        # pass slice with two middle values to mean()
        print(lst[lower_middle_index: upper_middle_index + 1])
        median_ = mean(lst[lower_middle_index: upper_middle_index + 1])
    return median_

print(X1)
median(X1), median(X2)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[15, 18]
[64, 68]

(16.5, 66.0)

In [14]:
# transform X1 to be of odd length by removing the last index
# this is to test the first case int he median() function
median(X1[:-1])

15

In [15]:
sorted(X2)

[2, 27, 38, 51, 64, 68, 68, 75, 79, 100]

### Mode

In [16]:
def mode(lst):
    count_dct = {}
    # create entries for each value with 0
    for key in lst:
        count_dct[key] = 0
    # add up each occurence
    for key in lst:
        count_dct[key] += 1
    # calculate max_count up front
    max_count = max(count_dct.values())
    # now we can compare each count to the max count
    mode_ = []
    for key, count in count_dct.items():
        if count == max_count:
            mode_.append(key)
            # mode always returns as a list type
    
    return mode_

lst = [1,1,1,1,1,1,2,3,4,5,5,5,5,5,5,242]
mode(lst)

[1, 5]

In [17]:
if 1 == 2:
    print("run code")

In [18]:
if 1 == 1:
    print("run code")

run code

### Variance


$$ \sigma^2 = \frac{\sum_{i=1}^n (X_i - \bar{X})^2}{n}$$

When we are dealing with a sample, which is a subset of a population of observations, then we divide by $n - 1$, the **Degrees of Freedom**, to unbias the calculation. 

$$DoF = n - 1$$


$$ S^2 = \frac{\sum_{i=1}^n (X_i - \bar{X})^2}{n-1}$$

In [19]:
# variance is the attempt to measure the spread of the data from the mean

In [20]:
def variance(lst, sample = True):
    list_mean = mean(lst)
    n = len(lst)
    DoF = n - 1
    sum_sq_diff = 0
    
    for val in lst:
        diff = val - list_mean
        sum_sq_diff += (diff) ** 2
        # print(val, list_mean, diff, sum_sq_diff)
    if sample == False:
        variance_ = sum_sq_diff / n
    else:
        variance_ = sum_sq_diff / DoF
    return variance_

        
variance(X1, sample = True), variance(X1, sample = False)

(82.5, 74.25)

In [21]:
variance(X2, sample = True), variance(X2, sample = False)

(807.7333333333333, 726.96)

In [22]:
### SD =

In [23]:
def SD(lst, sample = True):
    SD_ = variance(lst, sample) ** (1/2)
    return SD_
SD(X1, sample = True), SD(X1, sample = False)

(9.082951062292475, 8.616843969807043)

In [24]:
SD(X2, sample = True), SD(X2, sample = False)

(28.42064976972436, 26.962195756280682)

### Standard Error

In [25]:
def STE(lst, sample = True):
    n = len(lst)
    se = SD(lst, sample) / n ** (1/2)
    
    return se

In [26]:
SD(X1, sample = True), STE(X1, sample = True)

(9.082951062292475, 2.872281323269014)

In [27]:
SD(X2, sample = True), STE(X2, sample = True)

(28.42064976972436, 8.987398585426893)

In [28]:
# longer the list the smaller the standard error

### Covariance

To calculate covariance, we multiply the sum of the product of the difference between the observed value and the mean of each list for value _i = 1_ through _n = number of observations_:

$cov_{pop}(x,y) = \frac{\sum_{i=0}^{n-1} (x_{i} - x_{mean})(y_{i} - y_{mean})} {n}$

We pass two lists through the covariance() function. As with the _variance()_ and _SD()_ functions, we can take the sample-covariance.

$cov_{sample}(x,y) = \frac{\sum_{i=0}^{n-1} (x_{i} - x_{mean})(y_{i} - y_{mean})} {n - 1}$

In [69]:
def covariance(lst1, lst2, sample = False):
    mean1 = mean(lst1)
    mean2 = mean(lst2)
    
    cov = 0
    n1 = len(lst1)
    n2 = len(lst2)
    if n1 == n2:
        n = n1
        # sum the product of the differences
        for i in range(n):
            cov += (lst1[i] - mean1) * (lst2[i] - mean2)
            
        if sample == False: 
            cov = cov/n
        else: 
            cov = cov / (n - 1)
            
        return cov
    else: 
        print("List lengths are not equal")
        print("List1:", n1)
        print("List2:", n2)
    
covariance(X1, X2, sample = True)

-89.33333333333333

In [30]:
covariance(X1[:-1], X2)

List lengths are not equal
List1: 9
List2: 10

$corr_{pop}(x,y) = \frac{cov_{pop}(x, y)} {\sigma_x \sigma_y}$

In [70]:
def correlation(lst1, lst2):
    cov = covariance(lst1, lst2)
    SD1 = SD(lst1)
    SD2 = SD(lst2)
    corr = cov / (SD1 * SD2)
    
    return corr
correlation(X1, X2)

-0.31145483102379434

In [71]:
X3 = [1 + x * -0.5 for x in X1]
correlation(X1, X3)

-0.9

# $skew_{pop}(x,y) = \frac{\sum_{i=0}^{n-1}{(x_{i} - x_{mean})^3}} {n\sigma^3}$


$skew_{sample}(x,y) = \frac{\sum_{i=0}^{n-1}{(x_{i} - x_{mean})^3}} {(n-1)(n-2)\sigma^3}$

In [39]:
def skewness(lst, sample = True):
    mean_ = mean(lst)
    SD_ = SD(lst, sample)
    skew = 0
    n = len(lst)
    for val in lst:
        skew += (val - mean_) ** 3
    skew = skew / (n * SD_ ** 3) if not sample else\
        n * skew / ((n-1) * (n-2) * SD_ ** 3)
    return skew

skewness(X1)

0.0

In [40]:
skewness(X2)

-0.640224951200847

$kurt_{pop} = \frac{\sum_{i=0}^{n-1} (x_{i} - x_{mean})^4} {n\sigma^4}$

$kurt_{sample} = \frac{n(n+1)\sum_{i=0}^{n-1} (x_{i} - x_{mean})^4} {(n - 1)(n - 2)( n - 3)\sigma^4} - \frac{3(n - 1)^2}{(n - 2)(n - 3)}$

In [47]:
def kurtosis(lst, sample = True):
    mean_ = mean(lst)
    kurt = 0
    SD_ = SD(lst, sample)
    n = len(lst)
    for val in lst:
        kurt += (val - mean_) ** 4
    kurt = kurt / (n * SD_ ** 4) if  sample == False else  n * (n + 1) * kurt / \
    ((n - 1) * (n - 2) * (n - 3) * (SD_ ** 4)) - (3 *(n - 1) ** 2) / ((n - 2) * (n - 3))
    
    return kurt    
    
kurtosis(X1, sample = False)

1.7757575757575759

In [49]:
kurtosis(X2, sample = False)

2.642505139871089

### Gather Statistics

In [68]:
import pandas as pd
def gather_statistics(df, sample = False, round_dig = 3):
    dct = {key:{} for key in df}
    for key, val in df.items():
        val.dropna(inplace = True)
        dct[key]["meam"] = round(mean(val), round_dig)
        dct[key]["median"] = round(median(val), round_dig)
        dct[key]["variance"] = round(variance(val), round_dig)
        dct[key]["S.D."] = round(SD(val, sample), round_dig)
        dct[key]["Skewness"] = round(skewness(val, sample), round_dig)
        dct[key]["Kurtosis"] = round(kurtosis(val, sample), round_dig)
    stats_df = pd.DataFrame(dct)
    return stats_df
    
data = pd.DataFrame([X1, X2], index = ["List1", "List2"])
gather_statistics(data, sample = False, round_dig = 2)

[3, 75]
[6, 68]
[9, 38]
[12, 79]
[15, 51]
[18, 64]
[21, 100]
[2, 24]
[27, 68]
[27, 30]

,0,1,2,3,4,5,6,7,8,9
meam,39.0,37.0,23.5,45.5,33.0,41.0,60.5,13.0,47.5,28.5
median,39.0,37.0,23.5,45.5,33.0,41.0,60.5,13.0,47.5,28.5
variance,2592.0,1922.0,420.5,2244.5,648.0,1058.0,3120.5,242.0,840.5,4.5
S.D.,36.0,31.0,14.5,33.5,18.0,23.0,39.5,11.0,20.5,1.5
Skewness,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Kurtosis,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

### Economic Freedom of the World

In [79]:
filename = "efotw-2022-master-index-data-for-researchers-iso.xlsx"
data = pd.read_excel(filename, header = [4],
                    index_col = [3,1])
data

,,Unnamed: 0,ISO Code 2,Countries,Economic Freedom Summary Index,Rank,Quartile,1A Government Consumption,data,1B Transfers and subsidies,data.1,...,Unnamed: 101,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105,Unnamed: 106,Unnamed: 107,Unnamed: 108,Unnamed: 109,Unnamed: 110
ISO Code 3,Year,,,,,,,,,,,,,,,,,,,,,
ALB,2020,NaN,AL,Albania,7.64,26.0,1.0,8.026471,12.710000,6.978202,11.590000,...,2011.00,2012.00,2013.00,2014.00,2015.00,2016.0,2017.0,2018.0,2019.00,2020.00
DZA,2020,NaN,DZ,Algeria,5.12,157.0,4.0,3.102941,29.450000,7.817129,8.511137,...,153.00,153.00,157.00,159.00,159.00,162.0,162.0,162.0,165.00,165.00
AGO,2020,NaN,AO,Angola,5.91,138.0,4.0,7.700000,13.820000,9.702997,1.590000,...,38.25,38.25,39.25,39.75,39.75,40.5,40.5,40.5,41.25,41.25
ARG,2020,NaN,AR,Argentina,4.87,161.0,4.0,5.985294,19.650000,6.493188,13.370000,...,114.75,114.75,117.75,119.25,119.25,121.5,121.5,121.5,123.75,123.75
ARM,2020,NaN,AM,Armenia,7.84,11.0,1.0,6.605882,17.540000,7.223433,10.690000,...,76.50,76.50,78.50,79.50,79.50,81.0,81.0,81.0,82.50,82.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VEN,1970,NaN,VE,"Venezuela, RB",7.19,13.0,1.0,6.602003,17.553191,9.827430,1.133333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VNM,1970,NaN,VN,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YEM,1970,NaN,YE,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZMB,1970,NaN,ZM,Zambia,5.33,54.0,3.0,3.448131,28.276353,9.105430,3.783070,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZWE,1970,NaN,ZW,Zimbabwe,NaN,NaN,NaN,7.806922,13.456464,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
data = pd.read_excel(filename,
                   sheet_name = "EFW Panel Data 2022 Report")
rename = {"Panel Data Summary Index":"Summary",
         "Area 1":"Size of Government",
         "Area 2":"Legal System and Property Rights",
         "Area 3":"Sound Money",
         "Area 4":"Freedom to Trade INternationally",
         "Area 5":"Regulation"}
data.rename(columns = rename)

,Year,ISO_Code_2,ISO_Code_3,World Bank Region,"World Bank Current Income Classification, 1990-present (L=Low income, LM=Lower middle income, UM=Upper middle income, H=High income)",Countries,Summary,Size of Government,Legal System and Property Rights,Sound Money,Freedom to Trade INternationally,Regulation,Standard Deviation of the 5 EFW Areas
0,2020,AL,ALB,Europe & Central Asia,UM,Albania,7.640000,7.817077,5.260351,9.788269,8.222499,7.112958,1.652742
1,2020,DZ,DZA,Middle East & North Africa,LM,Algeria,5.120000,4.409943,4.131760,7.630287,3.639507,5.778953,1.613103
2,2020,AO,AGO,Sub-Saharan Africa,LM,Angola,5.910000,8.133385,3.705161,6.087996,5.373190,6.227545,1.598854
3,2020,AR,ARG,Latin America & the Caribbean,UM,Argentina,4.870000,6.483768,4.796454,4.516018,3.086907,5.490538,1.254924
4,2020,AM,ARM,Europe & Central Asia,UM,Armenia,7.840000,7.975292,6.236215,9.553009,7.692708,7.756333,1.178292
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4450,1970,VE,VEN,Latin America & the Caribbean,NaN,"Venezuela, RB",7.242943,8.349529,5.003088,9.621851,7.895993,5.209592,2.028426
4451,1970,VN,VNM,East Asia & Pacific,NaN,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4452,1970,YE,YEM,Middle East & North Africa,NaN,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4453,1970,ZM,ZMB,Sub-Saharan Africa,NaN,Zambia,4.498763,5.374545,4.472812,5.137395,NaN,5.307952,0.412514
4454,1970,ZW,ZWE,Sub-Saharan Africa,NaN,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN