## 1.
Create a list of numbers 100 elements in length that counts by 3s - i.e., [3,6,9,12,...]

In [4]:
list1 = [*range(0,100,3)]
print(list1)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

## 2. 
Using the list from question 1, create a second list whose elements are the same values converted to strings. hint: use a for loop and the function str().

In [28]:

' '.join(str(e) for e in list1)

'0 3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99'

## 3. 
Using the list from question 2, create a variable that concatenates each of the elements in order of index (Hint: result should be like "36912...").

In [29]:

''.join(str(e) for e in list1)

'0369121518212427303336394245485154576063666972757881848790939699'

## 4. 
Using .pop() and .append(), create a list whose values are the same as the list from question 1 but in reverse order. (Hint: .pop() removes the last element from a list. The value can be save, i.e., x = lst.pop().)

In [6]:
list1 = [*range(0,100,3)]
list_reverse = []
for value in range(len(list1)):
    list_reverse.append(list1.pop())
print(list_reverse)

[99, 96, 93, 90, 87, 84, 81, 78, 75, 72, 69, 66, 63, 60, 57, 54, 51, 48, 45, 42, 39, 36, 33, 30, 27, 24, 21, 18, 15, 12, 9, 6, 3, 0]

## 5. 
Using len(), calculate the midpoint of the list from question 1. Pass this midpoint to slice the list so that the resultant copy includes only the second half of the list from question 1.

In [22]:
list1 = [*range(0,100,3)]

midpoint = int(len(list1)/2)
list1[midpoint: ]

[51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

## 6.
Create a string that includes only every other element, starting from the 0th element, from the string in question 3 while maintaining the order of these elements (Hint: this can be done be using a for loop whose values are descending).

## 7.
Explain the difference between a dynamic list in Python (usually referred to as a list) and a tuple.

In [ ]:
# A dynamic list characters can be modified as characters in tuples can not
# by modified.